/* *{
    font-family: sans-serif;
} */
body{
    /* background-color: #fffed2; */
    padding-left: 20px;
    padding-right: 10px;
}
nav.navbar{
    background-color: white;
    height: 60px;
    width: 100%;
    font-weight: bold;
}
nav.navbar .navbar-brand{
    padding: 7px;
    border-radius: 40px;
    padding-top: 4px;
}
nav.navbar .navbar-brand:hover{
    background-color: #f0f0f0;
}
nav.navbar ul{
    height: 40px;
}
.searchBar{
    background-color: #efefef;
    background-image: url('searchIcon.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
    padding-left: 40px;
    border: none;
    border-radius: 7px;
}
nav .searchBar{
    margin-top: 10px;
}
.searchBar:focus{
    background-color: #efefef;
    box-shadow: 0 0 0 3pt #7fbbff;
}
.navEllipse{
    font-size: 30px;
    line-height: 5px;
}
#profileLink p{
    display: inline;
    margin-left: 30px;
    position: relative;
    top: -25px;
}
.profileImg{
    height: 25px;
    width: 25px;
    border-radius: 25px;
    position: relative;
    top: 0px;
}
#profileImgLink{
    padding-right:0;
}
.nav-link, .nav-link:hover{
    color: rgba(0,0,0,.5);
}
.active>.nav-link{
    color: #333333;
}
.nav-item{
    border-radius: 40px;
}
.nav-item:hover{
    background-color: #f0f0f0;
}