/* *{
    font-family: sans-serif;
} */
body{
    /* background-color: #fffed2; */
    padding-left: 20px;
    padding-right: 10px;
}
nav.navbar{
    background-color: white;
    height: 60px;
    width: 100%;
    font-weight: bold;
}
/* nav.navbarsticky-top.navbar-expand.navbar-light li a{
    color: #ff0000;
} */
nav.navbar input.searchBar, .boardSelection input.searchBar, .searchBar{
    background-color: #efefef;
    background-image: url('searchIcon.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
    padding-left: 40px;
    border: none;
}
nav.navbar input:focus{
    background-color: #efefef;
}
.navEllipse{
    font-size: 30px;
    line-height: 5px;
}
.profileImg{
    height: 25px;
    width: 25px;
    border-radius: 25px;
    display: inline;
}
#profileImgLink{
    padding-right:0;
}
.nav-link, .nav-link:hover{
    color: rgba(0,0,0,.5);
}
.active>.nav-link{
    color: #333333;
}
.nav-item img{
    /* border: 1px red solid; */
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    line-height: 0;
}
.nav-item{
    border-radius: 40px;
}
.nav-item:hover{
    background-color: #f0f0f0;
}
/* Creating the nav without bootstrap */
/* #nav{