*{
    /* font-family: sans-serif; */
}
body{
    /* background-color: #fffed2; */
    padding-left: 20px;
    padding-right: 10px;
}
nav.navbar{
    background-color: white;
    height: 60px;
    width: 100%;
}
nav.navbar input, .boardSelection input{
    background-color: #efefef;
    background-image: url('searchIcon.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 10px;
    padding-left: 40px;
    border: none;
}
nav.navbar input:focus{
    background-color: #efefef;
}
.pin{
    background-color: white;
    margin: 5px;
    padding: 6px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.pin:hover{
    background-color: #f2f2f2;
}
.pin form{
    padding: 0;
    margin: 0;
}
.pinImg{
    width: 240px;
    height: auto;
    /* clip: auto; */
    margin: auto;
    border-radius: 10px;
    display: block;
    background-color: #000000;
}
.pin:hover .pinImg{
    opacity: 0.9;
}
.pin a.ellipses{
    margin: 5px 0 0 0;
    padding: 7px 0;
    line-height: 2px;
    float: right;
    color: #999999;
    text-decoration: none;
    height: 25px;
    width: 25px;
    border-radius: 25px;
    font-weight: bold;
}
.ellipses:hover{
    background-color: #e4e4e4;
}
.pin:hover .dropdownContainer, .pin:hover .saveContainer{
    display: block;
}
.dropdownContainer, .saveContainer{
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    /* background-color: #f8f8f8; */
    width: 220px;
    height: 40px;
    margin: auto;
    border-radius: 10px;
    z-index: 99;
    /* visibility: hidden; */
    display: none;
}
.dropdownContainer div, .saveContainer div{
    margin: 0;
}
.boardDropdown{
    float: left;
    border-radius: 10px 0 0 10px;
    background-color: #f8f8f8;
    color: #333333;
    padding: 7px 0 7px 15px;
    width: 160px;
    overflow: hidden;
    text-align: left;
}
.boardDropdown:hover{
    background-color: #e2e2e2;
}
.boardDropdown img{
    width: 15px;
    height: 15px;
    margin-right: 10px;
    margin-top:5px;
    float: right;
}
.savePin, .savePinwImg, .savePinBoard{
    background-color: #ff0000;
    color: #ffffff;
    float: right;
    width: 60px;
    padding: 7px 12px;
    border-radius: 0 10px 10px 0;
    border:none;
}
.savePinwImg{
    width: 80px;
    border-radius: 10px;
}
.savePinBoard{
    border-radius: 10px;
    /* padding:0; */
    margin: 20px 0;
}
.savePin:hover, .savePinwImg:hover, .savePinBoard:hover{
    background-color: #e00000;
}
.pinIcon{
    width: 12px;
    height: 20px;
    margin-right: 8px;
}
.boardSelection{
    width: 320px;
    background-color: #ffffff;
    position: relative;
    top: 20px;
    left: 10px;
    border-radius: 10px;
    clear: both;
    padding: 12px;
    text-align: start;
    
    max-height: 400px;
    overflow: scroll;
    /* display:none; */
}
.searchBoardSelection{
    background-color: #ffffff;
    padding-bottom: 10px;
    /* position: sticky; */
}
.boardNameDropdown{
    /* display: inline; */
    float:left;
    margin: 5px 5px 5px 15px;
    text-align: start;
}
.boardSelection h4{
    text-align: start;
    font-size: 14px; 
    font-weight: normal;
    margin-top: 8px;
}
.boardOptionContainer{
    padding: 8px;
    border-radius: 10px;
    clear: both;
    height: 54px;
}
.boardOptionContainer:hover{
    background-color: #f8f8f8;
}
.boardThumb{
    float: left;
    height: 34px;
    width: 30px;
    border-radius: 10px;
    margin: 3px;
    /* clip: auto; */
}
.boardSelectionBottomCreate{
    background-color: #ffffff;
    border-top: 1px white solid;
}
.createButton{
    border-radius: 30px;
    height: 30px;
    width: 30px;
    background-color: #ff0000;
    color: white;
    font-size: 30px;
    line-height: 25px;
    padding: 0 5px;
    float: left;
}
/* Creating the nav without bootstrap */
/* #nav{
    height: 60px;
    width: 100%;
    background-color: white;
    position: fixed;
}
#navLogo{
    position: absolute;
    top: 17px;
    left: 25px;
}
#searchBar{
    position: absolute;
    top: 12px;
    left: 80px;
    height: 36px;
    border: none;
    background-color: rgb(240, 240, 240);
    border-radius: 7px;
    padding: 20px;
}
#nav ul{
    list-style-type: none;
    position: absolute;
    top: 17px;
    right: 0;
    font-weight: bold;
}
#nav li{
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
} */