*{
    /* font-family: sans-serif; */
}
body{
    /* background-color: #fffed2; */
    padding-left: 20px;
    padding-right: 10px;
}
nav.navbar{
    background-color: white;
    height: 60px;
    width: 100%;
}
nav.navbar input{
    background-color: #f8f8f8;
    border: none;
}
.pin{
    background-color: white;
    margin: 5px;
    padding: 6px;
    padding-bottom: 50px;
    border-radius: 6px;
}
.pin:hover{
    background-color: #f8f8f8;
}
.pin img{
    width: 240px;
    height: auto;
    /* clip: auto; */
    margin: auto;
    border-radius: 10px;
    display: block;
}
.pin a{
    /* text-align: right; */
    position: absolute;
    right: 10px;
    bottom: 15px;
    color: #b3b3b3;
    text-decoration: none;
}
/* Creating the nav without bootstrap */
/* #nav{
    height: 60px;
    width: 100%;
    background-color: white;
    position: fixed;
}
#navLogo{
    position: absolute;
    top: 17px;
    left: 25px;
}
#searchBar{
    position: absolute;
    top: 12px;
    left: 80px;
    height: 36px;
    border: none;
    background-color: rgb(240, 240, 240);
    border-radius: 7px;
    padding: 20px;
}
#nav ul{
    list-style-type: none;
    position: absolute;
    top: 17px;
    right: 0;
    font-weight: bold;
}
#nav li{
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
} */